body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-size: 100% 100%;
    background-position: inherit;
    font-family: 'Quicksand', sans-serif;
    background: url(bakery.webp) no-repeat center center fixed; 
    background-size: cover;
    background-position: center;
    opacity: .7;
}

div.card {
    background-color: rgba(229, 235, 230, 0.75);
    box-shadow: 0px 0px 10px 3px grey;
    color:black;
    margin-top: 30px;
    filter: saturate(100%),contrast(70%), brightness(125%);
}

#app {
    background-color: rgba(229, 235, 230, 0.5);
    box-shadow: 0px 0px 10px 3px grey;
    color:black;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav{
    background-color: #F5CAC3;
}

a {
    color: #5a8177;
  }
  
  a:hover {
    color: #f28482;
  }

h2 {
    font-family: 'Sofia', cursive;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    color:#5a8177;
}

.dropdown-menu.show {
    border: none;
    background-color: #F5CAC3;
}

.navbar-brand {
    text-align: left;
    font-family: 'Sofia', cursive;
}
  
.nav-link{
    text-align: center;
}

.btn-danger {
    float: right;
    font-weight: bold;
    border: none;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer {
    position: fixed-bottom;
    width: 100%;
    height: 50px;
    text-align: center;
}


#create-new-cake, #add-cake 
button.form-control {
        background-color: #f28482;
        color: #f7ede2;
        font-weight: bold;
      }
      
      #create-new-cake:hover,
      button.form-control:hover {
        background-color: #f5cac3;
        color: #5a8177;
        cursor: pointer;
      }

 
#cake-delete,
#delete-cake- {
    background: #F28482;
    color: white;
}

#nav-bar {
    background: #F5CAC3;
}

ul{
    list-style: none;
}

form.form-inline {
    justify-content: center;
    margin-left: 8px;
  }

  #company-name {
    color: #5a8177;
  }
  
  #new-cake.jumbotron {
    background-color: #f7ede296;
    box-shadow: 0px 0px 10px 3px #777;
    filter: saturate(100%), contrast(70%), brightness(125%);
    color: black;
    margin-top: 30px;
  }

  button#sign-in {
    background-color: #f28482;
    color: #f7ede2;
    font-weight: bold;
  }
  
  button#sign-in:hover {
    background-color: #f5cac3;
    color: #5a8177;
    cursor: pointer;
  }